#startingNumber, #endingNumber, #pause {
    max-width: 3em;
}

label, button {
    margin-left: 1em;
}

#allNumbersDiv span {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    border: solid darkgreen;
    background-color: lightgreen;
    min-width: 10em;
    min-height: 3em;
    vertical-align: bottom;
    text-align: center;
}

#allNumbersDiv span.finished {
    border: solid darkcyan;
    background-color: lightcyan;
    color: #00A080;
}

#currentNumber {
    margin-top: 1em;
    font-family: sans-serif;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
}
